.banner {
	background-color: #fff5d6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 20vh;
}

.title {
	text-transform: uppercase;
	font-size: 42px;
}

#subtitle {
	text-transform: uppercase;
	font-size: 28px;
}

.infobox {
	align-items: baseline;
	display: flex;
}

.icon {
	font-size: 20px;
	margin-left: 10px;
}

.icon a {
	text-decoration: none;
	color: inherit;
}

.icon:hover {
	cursor: pointer;
	border-bottom: 3px solid black;
}

@media (max-width: 430px) {
	.title {
		font-size: 28px;
	}
	
	#subtitle {
		font-size: 18px;
	}
}